body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: mistyrose;
  color: dimgray;
  text-align: center;
}

header {
  background-color: lightpink;
  color: white;
  padding: 30px;
}

section {
  padding: 20px;
  margin: 15px;
  background-color: white;
  border-radius: 10px;
}

h2 {
  color: palevioletred;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 8px;
}
img {
  width: 250px;
  border-radius: 10px;
  margin: 10px;
}


footer {
  background-color: lightpink;
  color: white;
  padding: 10px;
  margin-top: 20px;
}